{% extends 'base.html' %}

{% block content %}
<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
        box-shadow: 3px 4px 8px 0 rgba(0,0,0,0.4);
        border: 1px;
    }
    @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }
    .card {
        width: 280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: right;
        border-radius: 30px 30px 10px 10px;
        direction: rtl;
        right: -39px;
        color: black;
        border: none;
        box-shadow: 1px 4px 10px 0 rgba(0,0,0,0.9);
        margin-right: 20px;
    }
    .card-body {
        flex: 1;
        padding: 10px;
        min-width: 100%;
    }
    .availability-indicator {
        width: 15px;
        height: 15px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .review-rating {
        color: #f1c40f; /* Gold color for stars */
        font-size: 20px;
        height: 40px;
    }
    #profile-btn {
        background-color: #87779F;
        border: none;
    }
    #profile-btn:hover {
        background-color: #333;
    }
    .calendar-button {
        margin: 0 auto;
        padding: 3px 5px;
        border: none;
        height: 30px; /* Set a fixed height value */
        width: 30px; /* Set a fixed width value */
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }
    .calendar-input {
        display: none;
    }
    .button-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
</style>
<div class="container mt-5">
    <div class="row">
        {% for crew_member in crew_members %}
            <div class="col-md-4 col-sm-6 mt-4">
                <div class="card">
                    <img src="{{ crew_member.profile_picture }}" class="card-img-top" alt="Profile Picture">
                    {% if crew_member.available %}
                    <div class="availability-indicator"></div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ crew_member.name }}</h5>
                        <p class="card-text">{{ crew_member.description }}</p>
                        <p class="card-text">שכר שעתי: ₪{{ crew_member.hourly_fee }}</p>
                        <p class="card-text">דירוג:</p>
                        <div class="review-rating">
                            {% for i in range(crew_member.star_rating) %}
                            ★
                            {% endfor %}
                            {% for i in range(10-crew_member.star_rating) %}
                            ☆
                            {% endfor %}
                        </div>
                        <a href="{{ url_for('crew_member_profile', crew_member_id=crew_member.id) }}" class="btn btn-primary" id="profile-btn">הצג פרופיל</a>
                        {% if session.get('user_id') == crew_member.user_id %}
                        <a href="{{ url_for('edit_crew_member', crew_member_id=crew_member.id) }}" class="btn btn-warning">ערוך</a>
                        <a href="{{ url_for('delete_crew_member', crew_member_id=crew_member.id) }}" class="btn btn-danger" onclick="return confirm('האם אתה בטוח שברצונך למחוק פרופיל זה?');">מחק</a>
                        {% endif %}
                        <img class="calendar-button" id="calendar-button-{{ crew_member.id }}" src="{{ url_for('static', filename='calendar-icon.jpeg') }}" alt="Calendar">
                        <input class="calendar-input" id="calendar-input-{{ crew_member.id }}" type="text" placeholder="בחר תאריך">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for crew_member in crew_members %}
            var calendarButton{{ crew_member.id }} = document.getElementById('calendar-button-{{ crew_member.id }}');
            var calendarInput{{ crew_member.id }} = document.getElementById('calendar-input-{{ crew_member.id }}');

            calendarButton{{ crew_member.id }}.addEventListener('click', function() {
                calendarInput{{ crew_member.id }}.click();
            });

            flatpickr(calendarInput{{ crew_member.id }}, {
                // Configure the Flatpickr options
                dateFormat: 'Y-m-d',
                enableTime: false,
            });
        {% endfor %}
    });
</script>
{% endblock %}
