{% extends 'base.html' %}

{% block content %}
<style>
    label {
        display: inline-block;
        width: 150px;
        text-align: right;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: -52px;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=number],
    textarea {
        width: 220px;
        height: 35px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: right;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #87779F;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #333;
    }

    form {
        margin-top: 75px;
        text-align: center;
    }

    #crew_member_info {
        display: none;
        margin-top: 20px;
        text-align: center;
    }

    h4 {
        margin-bottom: 10px;
    }
    h1 {
        padding: 10px 25px;
        margin-top: 50px;
        background: #87779F;
        color: #fff;
        border-radius: 12px 12px 0 0;
        text-align: center;
    }
</style>

<form method="post" action="{{ url_for('signup') }}">
    <h1>:צור חשבון</h1>
    <div>
        <input type="text" id="username" name="username" required>
        <label for="username">:שם משתמש</label>
        <br>
        <input type="email" id="email" name="email" required>
        <label for="email">:אימייל</label>
        <br>
        <input type="password" id="password" name="password" required>
        <label for="password">:סיסמה</label>
        <br>
        <input type="text" id="first_name" name="first_name" required>
        <label for="first_name">:שם פרטי</label>
        <br>
        <input type="text" id="last_name" name="last_name" required>
        <label for="last_name">:שם משפחה</label>
        <br>
        <input type="checkbox" name="is_crew_member" id="is_crew_member">
        <label for="is_crew_member">:הרשם כחבר צוות</label>
        <br>
    </div>
    <div id="crew_member_info">
        <h4>מידע נוסף לחברי צוות</h4>
        <input type="text" id="name" name="name">
        <label for="name">:שם מלא</label>
        <br>
        <textarea id="description" name="description"></textarea>
        <label for="description">:תיאור</label>
        <br>
        <input type="number" id="hourly_fee" name="hourly_fee" step="0.01">
<label for="hourly_fee">:שכר שעתי</label>
<br>
<input type="text" id="profile_picture" name="profile_picture">
<label for="profile_picture">:קישור לתמונת פרופיל</label>
<br>
<input type="number" id="star_rating" name="star_rating" step="0.01" min="0" max="10">
<label for="star_rating">:כוכבים</label>
<br>
</div>
<button type="submit">צור חשבון</button>

</form>
<script>
    // Toggle the display of crew member information based on the 'is_crew_member' checkbox
    document.getElementById('is_crew_member').addEventListener('change', function() {
        var crewMemberInfo = document.getElementById('crew_member_info');
        if (this.checked) {
            crewMemberInfo.style.display = 'block';
        } else {
            crewMemberInfo.style.display = 'none';
        }
    });
</script>

{% endblock %}