{% extends 'base.html' %}

{% block content %}
<style>
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
  }
  h1 {
    color: #4a4a4a;
    padding-top: 30px;
    text-align: center;
  }
  form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    direction: rtl;
  }
  label {
    display: block;
    margin: 15px 0 5px;
    color: #9b9b9b;
    font-size: 0.9em;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1em;
  }
  input[type="submit"] {
    background-color: #87779F;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
  }
  input[type="submit"]:hover {
    background-color: #333;
  }
  h4 {
    padding: 10px 25px;
    margin-top: 50px;
    background: #87779F;
    color: #fff;
    border-radius: 12px 12px 0 0;
    text-align: center;
}
</style>
<h4>ערוך פרטים אישיים</h4>
  <form method="POST" action="{{ url_for('edit_user') }}">
    <label for="first_name">:שם פרטי</label>
    <input type="text" id="first_name" name="first_name" value="{{ current_user.first_name }}" required><br>

    <label for="last_name">:שם משפחה</label>
    <input type="text" id="last_name" name="last_name" value="{{ current_user.last_name }}" required><br>

    <label for="email">:אימייל</label>
    <input type="email" id="email" name="email" value="{{ current_user.email }}" required><br>

    <label for="bio">:ביו</label>
    <textarea id="bio" name="bio" rows="4">{{ current_user.user_profile.bio }}</textarea><br>

    <label for="profile_picture">:תמונת פרופיל</label>
    <input type="text" id="profile_picture" name="profile_picture" value="{{ current_user.user_profile.profile_picture }}"><br>

    <label for="location">:מיקום</label>
    <input type="text" id="location" name="location" value="{{ current_user.user_profile.location }}"><br>

    <label for="phone_number">:מספר טלפון</label>
    <input type="text" id="phone_number" name="phone_number" value="{{ current_user.user_profile.phone_number }}"><br><br>

    <input type="submit" value="שמור">
  </form>
{% endblock %}
