{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        background-color: #fff;
        max-width: 800px;
        width: 40%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-top: 70px;
    }

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 65px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .form-group {
        margin-bottom: 1em;
    }

    .form-group label {
        color: #666;
        margin-bottom: .5em;
    }

    .form-group input,
    .form-group textarea {
        padding: .5em;
        border: 1px solid #ddd;
        border-radius: .25em;
        width: 100%;
        box-sizing: border-box;
    }

    .btn {
        padding: .5em 1em;
        background-color: #87779F;
        color: white;
        border-radius: .25em;
        border: none;
        cursor: pointer;
        text-align: center;
        margin-top: 1em;
    }

    .btn:hover {
        background-color: #333;
    }
    h4 {
        padding: 10px 25px;
        margin-top: 50px;
        background: #87779F;
        color: #fff;
        border-radius: 12px 12px 0 0;
        text-align: center;
    }
</style>
<h4>ערוך פרטי חבר צוות</h4>
<div class="container">
    <h1>ערוך חבר צוות {{ crew_member.name }}</h1>
    <form action="{{ url_for('edit_crew_member', crew_member_id=crew_member.id) }}" method="POST">
        <div class="form-group">
            <label for="name">שם</label>
            <input type="text" id="name" name="name" value="{{ crew_member.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">תיאור</label>
            <textarea id="description" name="description" rows="3">{{ crew_member.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="hourly_fee">שכר שעתי ₪</label>
            <input type="number" id="hourly_fee" name="hourly_fee" step="0.01" value="{{ crew_member.hourly_fee }}" required>
        </div>
        <div class="form-group">
            <label for="profile_picture">קישור לתמונת הפרופיל</label>
            <input type="text" id="profile_picture" name="profile_picture" value="{{ crew_member.profile_picture }}" required>
        </div>
        <div class="form-group">
            <label for="star_rating">דירוג</label>
            <input type="number" id="star_rating" name="star_rating" step="0.01" value="{{ crew_member.star_rating }}" required>
        </div>
        <div class="form-group">
            <label for="available">זמינות</label>
            <input type="checkbox" id="available" name="available" {% if crew_member.available %}checked{% endif %}>
 </div>
        <button type="submit" class="btn">עדכן</button>
    </form>
</div>
{% endblock %}