{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    form {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
    }
    h1 {
        padding: 10px 25px;
        background: #87779F;
        color: #fff;
        border-radius: 12px 12px 0 0;
        text-align: center;
        margin-top: 50px;
    }
    label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    button {
        background-color: #87779F;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    button:hover {
        background-color: #333;
    }
</style>
<h1>התחברות</h1>
    <div class="form-container">
        <form method="post" action="{{ url_for('login') }}">
            <label for="username">שם משתמש</label>
            <input type="text" id="username" name="username" required>
            <label for="password">סיסמה</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">התחבר</button>
        </form>
    </div>
{% endblock %}
